*{
    padding: 0%;
    font-family: 'Times New Roman', 'Times, serif';   
}
    h2{
    text-align: center;
    
}


.form1{
    width: fit-content;
    border: black solid  1px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 950px;
    margin-right: 25px;
    margin-bottom: 30px;
}


.submitbtn{
    padding: 12px 27px 13px;
    border-radius: 10px;
    margin:10px;
}
select, input{
    border-radius: 1px;
    size: 100px;
}




/* 
.form1{
    float: right;
    width: 25px;
    margin-right: 0px;  
    padding-right: 15px;  
    margin-bottom: 0%;
    }
.form{
    
    width: fit-content;
    padding: 25px;
    position: absolute;
    border: 1px solid black;
    border-radius: 2%;
}
.submitbtn{
   align-items: center ;
   cursor: pointer;
}  */





/* *{
    box-sizing: border-box;
}

.form1{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 17px;
}
.form{
    display: block;
    font-weight: 400;   
    font-size: 14px;
    line-height: 21px;
}
input{
    padding: 2px 9px 2px;
    border-radius: 5%;
} */



   

